body {
    justify-content: center;
    background-color: gainsboro;
}

.body {
    height: 100%;
    width: 1200;
}

.top {
    display: flex;
    height: 920,24px;
    width: 1200px;
}

.proslider {
    width: 372px;
    height: 372px;
}

img {
    max-width: 100%;
    max-height: auto;
}

.proimg {
    display: flex;
    justify-content: center;
    height: 920,24px;
    width: 420px;
}

.proinfo {
    display: block;
    padding-left: 10px;
    height: 920,24px;
    width: 780px;
}

h1 {
    font-size: 24px;
    display: block;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.pro-price {
    font-size: 32px;
    line-height: 40px;
    font-weight: 600;
    color: #E30019;
}

.buynow {
    position: relative;
    padding: 10px 28px;
    line-height: normal;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    color: #fff;
    border: 1px solid red;
    border-radius: 4px;
}

.thong-tin-chung {
    font-size: 20px;
    font-family: "SF Pro Display", 'Arial', sans-serif;
}

strong {
    font-size: 20px;
}

.middle {
    height: 568.79px;
    width: 1200px;
    display: flex;
}

.description {
    width: 693.33px;
    height: 420.6px;
}

.news {
    width: 490.67px;
    height: 420.6px;
    padding-top: 5px;
    justify-content: center;
}

h2 {
    font-size: 20px;
    font: bolder;
}

.newlist {
    height: 411.36px;
    width: 340.39px;
}

.new {
    display: flex;
    height: 20%;
    width: 100%;
}

#newpic {
    max-height: 100%;
    width: auto;
    top: 40%;
}

#smallTittle {
    font-family: "SF Pro Display", 'Arial', sans-serif;
    font-size: 13px;
    padding-left: 10px;
}

.rate {
    height: 554.35px;
    width: 1200px;
    display: flex;
}
